<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Morning Call</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- Website Logo -->
            <a class="navbar-item" href="/">
                <img class="navbar-logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>

        <!-- Menu Items -->
        <div class="navbar-menu custom-navbar-bg">
            <div class="navbar-menu">
                <a class="navbar-item" href="/">Home</a>
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/contact" target="_blank">Contact</a>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero custom-hero-bg">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-flex is-flex-direction-column is-justify-content-center">
                        <p class="title is-size-1 has-text-centered playfair-display-title-big">The Morning Call</p>
                        <p class="title is-size-1 has-text-centered playfair-display-title-big">{{ date }}</p>
                    </div>

                    <div class="column">
                        <canvas id="industryPieChart"></canvas>
                        <script>
                            const ctx = document.getElementById('industryPieChart').getContext('2d');
                            const industryPieChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: {{ industries | tojson }},
                                    datasets: [{
                                        data: {{ industry_percentage | tojson }},
                                        backgroundColor: {{ pie_chart_colors | tojson }}
                                    }],
                                },
                                options: {
                                    plugins: {
                                        tooltip: {
                                            enabled: true, // Enable tooltips
                                            backgroundColor: '#FFF', // Tooltip background color
                                            bodyColor: '#000', // Tooltip text color
                                            borderColor: '#FFF', // Tooltip border color
                                            borderWidth: 1, // Tooltip border width
                                            bodyFont: {
                                                size: 14, // Tooltip font size
                                                family: 'Playfair Display', // Tooltip font family
                                                style: 'bold', // Tooltip font style
                                            },
                                            callbacks: {
                                                label: function(context) {
                                                    let label = context.label || '';

                                                    if (label) {
                                                        label += ': ';
                                                    }
                                                    if (context.parsed !== null) {
                                                        label += context.parsed + '%'; // Customizing the label
                                                    }
                                                    return label;
                                                }
                                            }
                                        },

                                        legend: {
                                            display: false // This will hide the legend
                                        }
                                    },
                                }
                            })
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% for article in articles %}
                <a href="{{ article.url }}" target="_blank" class="article-link">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="columns is-mobile is-variable is-8">
                                    <div class="column is-three-quarters">
                                        <p class="title is-4">{{ article.title }}</p>
                                        <p class="subtitle is-6">
                                            <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
                                            {{ article.rating }} | {{ article.industry }}
                                        </p>
                                    </div>
                                    <div class="column">
                                        <p class="has-text-right" style="color: rgba(0,0,0,0.5);">{{ article.source }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>{{ article.summary }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
    
    

    <!-- Footer -->
    <!-- <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; {{ current_year }} Financial News Portal. All rights reserved.</p>
        </div>
    </footer> -->
</body>
</html>